/* scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***********************************/

body{
  background-image: linear-gradient(to right, violet 0%, skyblue 100%);
  
}

.App {
  text-align: center;
  height: 100%;
}
