.drawingSpace{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

#mainCanvas{
    position: absolute;
    display: block;
    background-color: white;
	background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    z-index: -1;
}

#gridCanvas{
    position: absolute;
    display: block;
}

#spacer{
    display: block;
    opacity: 0;
    margin-bottom: 50px;
    margin-left: 10px;
    z-index: -2;
}
