.topBar{
    text-align: left;
}

#topBarButtonGroup{
    width: 100%;
    background-color: black;
}

#framesBar{
    width: 100%;
    overflow-x: auto;
    background-color: black;
}

#undoRedo{
    text-align: end;
}